{{ define "base" }}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" href="/static/icons/icon2.png" type="image/x-icon"/>
    <title>ao.dev</title>
</head>

<body class="bg-slate-50 min-h-screen flex flex-col">
    <div class="mx-auto flex flex-col w-[100%] max-w-2xl lg:max-w-3xl">
        {{ template "header" . }}
    </div>
    <div class="flex flex-col mx-auto flex-grow max-w-2xl lg:max-w-3xl">
        <main class="px-4 md:px-2">
            <section class="pb-6 my-6 lg:pb-10 lg:my-8">
            {{ block "content" . }}
                <div>
                    Something went wrong!!!
                </div>
            {{ end }}
        </section>
        </main>
    </div>
</body>

{{ template "footer" . }}
</html>
{{ end }}