{{ define "footer"}}
    <footer class="max-w-2xl lg:max-w-3xl mx-auto px-4 md:px-0 py-2">
        <p class="text-slate-500 text-sm">
            made with <span class="font-bold">go</span>, <span class="font-bold">htmx</span> and <span class="font-bold">tailwind</span> by 
            <a href="https://ankushojha.dev" class="text-blue-500 hover:underline">ankush ojha</a>.
        </p>
        <p class="text-slate-500 text-xs mt-1">
            &copy; 2024 ankush ojha. all rights reserved.
        </p>
    </footer>
{{ end }}