<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ao.dev</title>
</head>

<body>
    <div class="min-h-screen flex flex-col justify-between pt-0 md:pt-8 p-8 bg-white text-gray-900">
        <main class="max-w-[60ch] mx-auto w-full space-y-6">
            <h1>Ankush Ojha</h1>
            <p>I am a software engineer who loves to build products. I am currently part of Nielsen where I work on
                making marketing analytics smarter and efficient.</p>
            <div>
                <h1>Writings</h1>
                <ul>
                    <li><a>Go Routines: Introduction</a></li>
                    <li><a>Prometheus up and running</a></li>
                    <li><a>What is context exactly?</a></li>
                    <li><a>Writing as part of Software Development</a></li>
                </ul>
            </div>
            <div>
                <h1>Book Summaries</h1>
                <ul>
                    <li><a>Concurrency in Go</a></li>
                    <li><a>Prometheus up and running</a></li>
                    <li><a>The Kubernetes Book</a></li>
                    <li><a>Programming Ruby 3.3</a></li>
                </ul>
            </div>
            <div>
                <h1>Code</h1>
                <ul>
                    <li><a>go-htmx</a></li>
                    <li><a>chatinvo</a></li>
                    <li><a>makemyinterior</a></li>
                    <li><a>local-db</a></li>
                </ul>
            </div>
        </main>
    </div>
</body>

</html>