<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>ao.dev</title>
</head>

<body class="bg-slate-50 min-h-screen flex flex-col">
    <div class="flex-grow max-w-2xl lg:max-w-3xl mx-auto flex flex-col">
        <header class="pt-6 pb-4 px-4 md:px-0 flex justify-between">
            <a href="/">
                <h1 class="text-2xl lg:text-3xl text-black font-semibold"> ankushojha.<span
                        class="font-light">dev</span></h1>
            </a>
            <nav class="flex gap-2 text-lg font-light">
                <a href="/" class="hover:underline hover:decoration-2">me</a>
                <span class="font-semibold">•</span>
                <a href="/blog" class="hover:underline hover:decoration-2">experience</a>
                <span class="font-semibold">•</span>
                <a href="/products" class="hover:underline hover:decoration-2">products</a>
                <span class="font-semibold">•</span>
                <a href="/contact" class="hover:underline hover:decoration-2">writings</a>
            </nav>
        </header>
        <main class="px-4 md:px-2">
            <section class="pb-6 my-6 lg:pb-10 lg:my-8">
                <h1 class="font-bold text-6xl lg:text-7xl mb-4 text-slate-950"> नमस्ते, <span class="font-normal">I'm
                        ankush.</span></h1>
                <h2 class="block text-slate-700 font-normal text-xl lg:text-2xl">a passionate software engineer from New
                    Delhi.</h2>
                <p class="text-slate-700 text-md mt-5 md:mt-8 leading-normal">
                    <span>
                        with 3+ years of industry experience and 2+ years specializing in Go development, I have honed
                        my skills across a wide spectrum of technologies, programming languages, and complex project
                        requirements. throughout my career, I've collaborated with teams to deliver scalable,
                        high-performance solutions that not only meet but consistently exceed expectations.
                    </span>
                    <br>
                    <br>
                    <span>
                        currently, I'm part of Nielsen, transforming marketing analytics to make them smarter and more
                        efficient. prior to this, I contributed at Simfoni, enhancing their capabilities in digital
                        tail-spend management. whether it's developing exceptional products or leading dynamic teams, I
                        am committed to creating impactful solutions that make a difference.
                    </span>
                    <br>
                    <br>
                    <span>find me on <a href="https://www.linkedin.com/in/ankushojha15/" target="_blank"
                            class="italic font-semibold hover:underline hover:decoration-2">linkedin</a>, <a
                            href="https://github.com/thinkingojha" target="_blank"
                            class="italic font-semibold hover:underline hover:decoration-2">github</a>
                        and <a href="https://x.com/ankushojhadev" target="_blank"
                            class="italic font-semibold hover:underline hover:decoration-2">twitter</a>.
                    </span>
                    <br>
                    <br>
                    <span class="mt-2 mb-3 pt-1 pb-2 px-3 rounded-xs bg-black">
                        <a href="mailto:ojhaankush292@gmail.com" target="_blank"
                            class="text-white hover:underline hover:decoration-2">drop me an email</a>
                    </span>
                </p>
            </section>
        </main>
    </div>
</body>

</html>